:root {
  --accent-color: #2196f3;
  --h-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --font-family: Roboto, sans-serif;
  --time: 250ms;
  --delay: cubic-bezier(0.4, 0, 0.2, 1);
}

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-family: var(--font-family);
  letter-spacing: 0.03em;
  font-style: normal;
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

/* header */

.header {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.oneline {
  display: flex;
}

.navigation {
  display: flex;
}

.logo-header {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 25px;
  margin-right: 93px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.studio-above {
  color: var(--h-color);
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links-item {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}

.nav-links .nav-links-item:last-child {
  margin-right: 0;
}

.nav-link {
  display: inline-block;
  padding: 32px 0;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--h-color);
  transition: color var(--time) var(--delay);
}

.nav-link:hover,
.nav-link:focus,
.nav-contact-link:hover,
.nav-contact-link:focus {
  color: var(--accent-color);
}

.nav-link > .this-page {
  color: var(--accent-color);
}

.nav-link::after {
  content: "";
  display: block;
  height: 4px;
  width: 100%;
  background: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  visibility: hidden;
  transition: visibility var(--time) var(--delay);
}

.nav-link:hover::after,
.nav-link:focus::after {
  visibility: visible;
}

.header-address-item {
  display: inline-block;
  margin-right: 50px;
  color: var(--text-color);
}

.header-address .header-address-item:last-child {
  margin-right: 0;
}

.nav-contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  padding: 32px 0;
  transition: color var(--time) var(--delay);
}

.header-icon {
  display: inline-block;
  margin-right: 10px;
  fill: currentColor;
  transition: color var(--time) var(--delay);
}

.header-icon:hover,
.header-icon:focus {
  color: var(--accent-color);
}

.header-address {
  margin-left: auto;
  display: flex;
  list-style: none;
}

/* footer */

address {
  font-style: normal;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.general {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}

/* footer-one container */

.footer-one {
  display: inline-block;
  margin-right: 70px;
}

.logo-footer {
  display: inline-block;
  margin-bottom: 20px;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}

.studio-below {
  color: var(--white-color);
}

.footer-addresses {
  display: flex;
  flex-direction: column;
}

.address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--white-color);
}

.contact-link {
  display: inline-block;
  margin-top: 9px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  transition: color var(--time) var(--delay);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

/* footer-two container*/

.join-title {
  display: inline-block;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
}

.down {
  background-color: rgba(255, 255, 255, 0.1);
}

.foot {
  fill: var(--white-color);
}

/* footer-three container*/

.footer-three {
  margin-left: auto;
}

.subscribe-form {
  display: flex;
  flex-direction: column;
}

.subscribe-container {
  display: flex;
  flex-direction: row;
}

.order-form-input-footer {
  width: 358px;
  height: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  display: flex;
  align-items: center;
  color: rgba(255, 255, 255, 0.6);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 16px;
}

.order-form-input-footer:focus,
.order-form-input-footer:hover {
  border-color: var(--accent-color);
  outline: none;
}

.subscribe-icon {
  content: "";
  display: block;
  margin-left: 10px;
  height: 24px;
  width: 24px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  fill: currentColor;
}

.order-button.subscribe {
  margin-left: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* index page */

/* hero */

.hero {
  max-width: 1600px;
  padding: 200px 0px;
  margin: 0 auto;
  background-color: #2f303a;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../index-images/bcgimg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero-title {
  text-align: center;
  display: block;
  margin: 0 auto 30px;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-color);
}

.order-button {
  display: block;
  padding: 8px 0;
  min-width: 200px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  color: var(--white-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  cursor: pointer;
}

.order-button:hover,
.order-button:focus {
  background-color: #188ce8;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

/* modal window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  transition: visibility var(--time) var(--delay);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 581px;
  width: 528px;
  background: var(--white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  opacity: 1;
  transition: opacity var(--time) var(--delay);
  padding: 40px;
}

.backdrop.is-hidden .modal {
  opacity: 0;
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background: var(--white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--time) var(--delay);
  fill: currentColor;
}

.close-sign {
  content: "";
  height: 11px;
  width: 11px;
}

.close:focus,
.close:hover {
  fill: var(--accent-color);
}

/* order-form */

.order-form {
  display: flex;
  flex-direction: column;
}

.order-form-title {
  display: flex;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  justify-content: center;
  color: var(--h-color);
}

.order-form-label {
  position: relative;
  display: block;
  margin-bottom: 10px;
  display: inline-block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.order-form-input {
  display: inline-block;
  padding: 0 12px 0 42px;
  margin-top: 4px;
  height: 40px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--time) var(--delay);
  font-weight: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--h-color);
}

.order-form-input::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.order-form-input:focus,
.order-form-input:hover {
  border-color: var(--accent-color);
  outline: none;
}

textarea {
  resize: none;
}

.order-form-input.comment {
  width: 448px;
  height: 120px;
  padding: 12px 16px;
}

.form-icon {
  position: absolute;
  display: inline-block;
  content: "";
  width: 18px;
  height: 18px;
  top: 50%;
  left: 12px;
  fill: currentColor;
  transition: fill var(--time) var(--delay);
}

.order-form-input:focus + .form-icon,
.order-form-input:hover + .form-icon {
  fill: var(--accent-color);
}

/* checkbox */

.form-field {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
}

.checkbox-link {
  color: var(--accent-color);
  text-decoration: underline;
  margin: 0;
}

.tick {
  display: inline-block;
  margin-right: 8px;
  border: 2px solid #000000;
  border-radius: 2px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  fill: var(--white-color);
  transition: border-color var(--time) var(--delay),
    background-color var(--time) var(--delay);
}

.checkbox.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.checkbox:hover + .tick,
.checkbox:focus + .tick {
  border-color: var(--accent-color);
}

.checkbox:checked + .tick {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  box-shadow: none;
}

/* usp */

.usp {
  padding: 94px 0;
}

.list {
  display: flex;
  list-style: none;
}

.list-item {
  display: inline-block;
  margin-right: 30px;
  width: 270px;
}

.list-item:last-child {
  margin-right: 0;
}

.list-item::before {
  content: "";
  display: block;
  height: 120px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  background-repeat: no-repeat;
  background-position: center;
}

.antenna::before {
  background-image: url("../index-images/icons/antenna.svg");
}

.clock::before {
  background-image: url("../index-images/icons/clock.svg");
}

.diagram::before {
  background-image: url("../index-images/icons/diagram.svg");
}

.astronaut::before {
  background-image: url("../index-images/icons/astronaut.svg");
}

.list-item-title {
  display: inline-block;
  height: 16px;
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--h-color);
}

.list-item-descr {
  display: inline-block;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  color: var(--text-color);
  height: 75px;
}

/* our job */

.ourjob {
  display: block;
  padding-bottom: 94px;
  text-align: center;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  color: var(--h-color);
  margin-bottom: 50px;
}

.ourjob-list {
  display: flex;
  list-style: none;
}

.ourjob-list-item {
  display: inline-block;
  margin-right: 30px;
}

.ourjob-list-item:last-child {
  margin-right: 0px;
}

.job-action {
  position: relative;
}

.job-text {
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  bottom: 0;
  position: absolute;
  height: 70px;
  width: 100%;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--white-color);
  background: rgba(47, 48, 58, 0.8);
}

/* team */

.team {
  background: #f5f4fa;
  padding: 94px 0;
  text-align: center;
}

.members {
  display: flex;
  list-style: none;
}

.member-card {
  display: inline-block;
  margin-right: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--white-color);
}

.member-card:last-child {
  margin-right: 0px;
}

.member-picture {
  left: 215px;
  top: 1635px;
  border-radius: 0px;
}

.card-text {
  padding: 30px;
}

.member-name {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--h-color);
}

.member-job {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}

.member-links {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
}

.member-links-item {
  display: block;
  width: 44px;
  height: 44px;
  margin-right: 10px;
  border-radius: 50%;
}

.member-links-item:last-child {
  margin-right: 0;
}

.member-link {
  width: inherit;
  height: inherit;
  border-radius: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  fill: #afb1b8;
  background-color: inherit;
  transition: background-color var(--time) var(--delay),
    fill var(--time) var(--delay);
}

.link-icon {
  height: 20px;
  width: 20px;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.member-link:hover,
.member-link:focus {
  background-color: var(--accent-color);
  fill: var(--white-color);
}

/* clients */

.clients {
  padding: 94px 0;
  text-align: center;
}

.client-list {
  display: flex;
  list-style: none;
}

.client-item {
  display: block;
  margin-right: 30px;
  width: 170px;
  height: 90px;
}

.client-item:last-child {
  margin-right: 0;
}

.client-item-link {
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 4px;
  border-color: #afb1b8;
  fill: #afb1b8;
  transition: border-color var(--time) var(--delay),
    fill var(--time) var(--delay);
}

.client-item-link:hover,
.client-item-link:focus {
  border-color: var(--accent-color);
  fill: var(--accent-color);
}

.client-item-logo {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* portfolio */

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* buttons */

.buttons {
  list-style: none;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.sort-button {
  display: inline-block;
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--h-color);
  background-color: #f5f4fa;
  border-radius: 4px;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  transition: background-color var(--time) var(--delay),
    color var(--time) var(--delay), box-shadow var(--time) var(--delay);
}

.buttons-item {
  margin-right: 8px;
}

.buttons .buttons-item:last-child {
  margin-right: 0;
}

.sort-button:hover,
.sort-button:focus {
  color: var(--white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px #0000001f;
}

/* projects */

.projects {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.projects-item {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}

.projects-link {
  display: block;
  box-shadow: none;
  transition: box-shadow var(--time) var(--delay);
}

.projects-link:hover,
.projects-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.projects-item:nth-child(3n) {
  margin-right: 0;
}

.projects-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.projects-text {
  border: 1px solid #eeeeee;
  border-top: 0;
  padding: 20px 24px;
}

.projects-title {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--h-color);
}

.projects-type {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  color: var(--text-color);
}

.jump {
  position: relative;
  overflow: hidden;
}

.jump-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  background: var(--accent-color);
  opacity: 0.9;
  color: var(--white-color);
  transform: translateY(101%);
  transition: transform var(--time) var(--delay);
}

.projects-link:hover .jump-text,
.projects-link:focus .jump-text {
  transform: translateY(0);
}
