.team {
  background: #f5f4fa;
  padding: 94px 0;
  text-align: center;
}

.members {
  display: flex;
  list-style: none;
}

.member-card {
  display: inline-block;
  margin-right: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  background-color: var(--white-color);
}

.member-card:last-child {
  margin-right: 0px;
}

.member-card__text {
  padding: 30px;
}

.member-card__name {
  display: block;
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: var(--h-color);
}

.member-card__job {
  display: inline-block;
  margin-bottom: 16px;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  color: var(--text-color);
}
